<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genius.hongsec.nasa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="genius.baselib.frame.base.BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="genius.baselib.frame.view.SplashAct"
            android:configChanges="keyboardHidden|keyboard|screenSize|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="genius.baselib.frame.view.MainAct"
            android:configChanges="keyboardHidden|keyboard|screenSize|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize"
            >

        </activity>

        <activity android:name="genius.baselib.frame.view.GoogleLoginAct"
            android:configChanges="keyboardHidden|keyboard|screenSize|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize"
            >


        </activity>


        <receiver android:name="genius.baselib.frame.receiver.InstallListener">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="genius.baselib.frame.auto.AppInstalledReceiver">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
                <data android:scheme="package" />
            </intent-filter>

        </receiver>
        <receiver android:name="genius.baselib.frame.auto.AlarmReceiver"/>
        <service android:name="genius.baselib.frame.auto.AutoService">

        </service>
        <service android:name="genius.baselib.frame.service.UpdateApps">

        </service>

        <!-- NAS - App Key - 반드시 추가 해야함 -->
        <meta-data android:name="naswall_app_key" android:value="86ea90ea321d6a55d8250fdddfecb22a" />

        <!-- NAS - 반드시 추가해야함 -->
        <activity
            android:name="com.nextapps.naswall.NASWallBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>

                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.VIEW" />
                <category android:name= "android.intent.category.BROWSABLE" />
                <data android:scheme="genius"/>
            </intent-filter>


        </activity>






        <!--<activity
            android:launchMode="singleTask"
            android:name=".act.MainAct"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="donpush" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/jpeg" />
            </intent-filter>

        </activity>

            -->
    </application>

</manifest>
